/* footer */
footer {
  background: #0E4567;
  color: #fff;
  padding:.25em 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer p {
  margin-right: .5em;
}

.copyright {
  font-size: .75em;
}